.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}

.content {
  /* text-align: center; */
  /* font-size: 6rem; */
  /* font-family: "Cookie"; */
  /* padding: 20px; */
  margin-top: -1%;
  z-index: 1;
  width: 100%;
  /* opacity: 0.7; */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
} */

.videoStyling {
  width: 100%;
}

.iconStyling {
  padding-top: 3%;
}

.sidenav-overlay {
  opacity: 0 !important;
}

.sidenav.right-aligned {
  opacity: 0.8;
  width: 33%;
  padding-top: 13%;
}